<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="MARKET_DB"
		     connectionString="Data Source=localhost;
		Initial Catalog=MARKET_DB_0005;
		Integrated Security=true;
		TrustServerCertificate=true"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="JwtToken"
		     value="rtEvTpWZzytYRaTmnfawTpVLrStpMoTsWjhpXhwKuGyRQeDuhDrTeuUmHMFJqPEVfqxuQgiLmPfFTrJYMahZsipoEZYyYEVXikGuhzKEJFmteCLtuHxSwjuKRjAVsLPm" />
		<add key="DiscordUrl" value="https://discord.gg/Z4st2xmhnM" />
	</appSettings>
</configuration>