@model NewWorld.BiSMarket.Core.Models.ChangePassword

@{
    ViewData["Title"] = "Change Password";
}


<div class="container">
    <h1 class="text-light">Change Password</h1>
    <hr class=" text-light"/>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group py-2">
                    <label asp-for="CurrentPassword" class="control-label text-light"></label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group py-2">
                    <label asp-for="NewPassword" class="control-label text-light"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group py-2">
                    <label asp-for="NewPasswordConfirm" class="control-label text-light"></label>
                    <input asp-for="NewPasswordConfirm" type="password" class="form-control" />
                    <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group pt-2">
                    <input type="submit" class="btn btn-success m-0" value="Change Password"/>

                </div>
            </form>
        </div>
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
