<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="New World Market is a custom market website to sell and buy in game equipable items with filters and better searching with no fees!">
    <meta name="keywords" content="New World Market BIS bis BestInSlot NewWorld">
    <meta name="author" content="lambo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - New World Market</title>
    <link rel="stylesheet" href="~/css/image-tooltip.css"/>
    <link rel="stylesheet" href="~/css/searchable-dropdown.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- Font Awesome -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        rel="stylesheet"/>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"/>
    <!-- MDB -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css"
        rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-dark@@5/dark.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
    @await RenderSectionAsync("Css", false)

</head>
<body class="bg-color-dark flex-wrapper">


<div>
    <partial name="_Header"/>

    <div class="main-container">
        <main role="main" class="pb-3">

            @*<a class="tooltip-item">qwweq</a>*@

            @RenderBody()
            @*<img src="https://localhost:7217/api/Image/Get/7CBFC7A4-7998-4A48-9E97-4D798DF3BD36" id="tooltip-image" class="tooltip-effect"/>*@

        </main>

    </div>
</div>

<partial name="_Footer"/>


<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/datatable.js"></script>
<script src="~/js/image-tooltip.js"></script>
<script src="~/js/api.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>