
@{
    ViewData["Title"] = "Contact";
}




<div class="container ">
    <h1 class="text-light">Contact</h1>
    <hr class=" text-light"/>
    <div class="row">
        <div class="col-md-4 text-light">
            <p>Email Address: <a href="#">support@new-world.market</a></p>
            <p>Discord: <a href="https://discord.com/invite/Z4st2xmhnM">discord.com/invite/Z4st2xmhnM</a></p>
            <p>Discord Username: lambo#7794</p>

        </div>
    </div>

</div>