#item-container { position: relative; }

.item {
    display: inline-block;
    position: relative;
}

.icon {
    cursor: auto;
    height: 70px !important; /* Adjust size as needed */
    width: 70px !important; /* Adjust size as needed */
}

.full-picture {
    display: none;
    height: 650px;
    left: 0; /* Position it to the right of the small icon */
    position: absolute;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 1;
    /* Add additional styles like width, height, border, etc. */
}