
#item-container {
    position: relative;
}

.item {
    position: relative;
    display: inline-block;
}

.icon {
    width: 70px !important; /* Adjust size as needed */
    height: 70px !important; /* Adjust size as needed */
    cursor: auto;
}

.full-picture {
    position: absolute;
    top: 0;
    left: 0; /* Position it to the right of the small icon */
    display: none;
    z-index: 1;
    width: auto;
    height: 650px;
    position: absolute;
    /* Add additional styles like width, height, border, etc. */
}
